{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-6 text-center">
            <div class="card shadow">
                <div class="card-body p-5">
                    <h1 class="mb-4">¡Bienvenid@!</h1>
                    <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg">
                        <i class="bi bi-microsoft me-2"></i>
                        Inicie sesión con Microsoft
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 